version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: rbac_db_container
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=RBAC
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    container_name: adminer_container

  backend:
    build: .
    restart: always
    ports:
      - "8000:8000"
    container_name: backend_rbac
    depends_on:
      - db
    env_file: .env
    environment:
      - POSTGRES_HOST=db
    volumes:
      - .:/app
volumes:
  postgres_data: